<body>

<div class = "outer-box">
<h1>To do List</h1>

<div>
<input type = "text" [(ngModel)] = "ToDoInput" class = "abc" id = "a1" placeholder = "List Item"/>
<button class= "btn btn-success" (click) = "ToDoAdd(ToDoInput)" onclick="document.getElementById('a1').value = ''">Add</button>
<button class= "btn btn-danger" (click) = "ToDoDelete()">Delete</button>
</div>


<div class = "list-item" *ngFor="let x of ToDoList">
  <input type = "checkbox" class = "check" [(ngModel)] = "x.status"/>
  <span>{{x.item}}</span>
</div>

</div>

</body>